body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  overflow-y: hidden;
}
nav {
  background-image: linear-gradient(
    180deg,
    rgba(255, 235, 205, 1) 0%,
    rgba(255, 255, 255, 0.342) 64%
  );
}
.nav-logo {
  width: 65%;
  padding-left: 10px;
}
.parallax_wrapper {
  height: 100vh;
  font-size: 4em;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}
.intro_screen {
  height: 100vh;
  background-color: aquamarine;
  background-image: url("Header.JPG");
}
.outro_screen {
  height: 100vh;
  background-color: teal;
}
.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax_layer {
  position: absolute;
  inset: auto;
}
.intro_screen,
.outro_screen,
.parallax_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.base_layer {
  transform: translateZ(-300px) scale(2);
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.mid_layer {
  transform: translateZ(0);
  height: 100%;
}
.top_layer {
  transform: translateZ(0.3);
}
#intro {
  z-index: 0;
}
#group-1 {
  z-index: -1;
}
#group-1 > .base_layer {
  background-color: blueviolet;
}
#group-2 {
  z-index: auto;
}
#group-2 > .mid_layer {
  background-color: yellowgreen;
}
#outro {
  z-index: auto;
}
