* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1a8;
}

::-webkit-scrollbar-thumb {
  background: #f0ffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
body {
  font-family: "Poppins", sans-serif;
  color: aliceblue;

  background-color: #39585b;
}
nav {
  background-image: linear-gradient(
    180deg,
    rgb(205, 249, 255) 0%,
    rgb(240, 255, 255) 60%
  );
}
.navbar {
  display: flex;
  justify-content: center;
}
.nav-logo {
  width: 65%;
  margin-left: 30px;
}
.nav-item {
  padding-left: 20px;
}
.navbar-toggler {
  margin-right: 30px;
}

.parallax_wrapper {
  height: 100vh;
  font-size: 4em;
  text-shadow: 0 0 5px #000;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}
.intro_screen {
  height: 100vh;
  background-color: #39585b;
  z-index: 0;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.about_us {
  background-color: #1427516e;
  padding: 60px;
  width: 70%;
  height: 40%;
  border-radius: 7px;
}
.container-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
p {
  font-size: 18px;
}
.us-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-5px) scale(1);
}
.about-us-img {
  width: 90%;
  border-radius: 50%;
}
h2 {
  font-size: 40px;
}
.title {
  text-shadow: 0 0 5px #000;
  font-size: 55px;
  text-align: center;
}
.outro_screen {
  height: 100vh;
  background-color: #39585b;
}
.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_layer {
  position: absolute;
  inset: auto;
}
.adventure-img {
  transform: translate(-30px) scale(1);
}
.base_layer {
  transform: translateZ(-300px) scale(2);
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.mid_layer {
  transform: translateZ(0);
}
.backdrop {
  transform: translateZ(-10px);

  width: 100%;
  height: 80%;
}
.top_layer {
  transform: translateZ(40px);
}
.zach-peyto-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(1.1);
  padding-bottom: 40px;
}

.container {
  margin: 30px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 20px;
  overflow: hidden;
}
.image img {
  opacity: 0.6;
  position: relative;
  vertical-align: top;
  transition-property: opacity;
}
.image:hover img {
  opacity: 1;
}
.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.image .details h2 {
  text-transform: uppercase;
  text-shadow: 0 0 5px #000;
  font-size: 35px;
  margin-top: 40px;
  transition: 0.4s;
  transition-property: transform;
}
.image:hover .details h2 {
  transform: translateY(-30px);
}
.image .details p {
  opacity: 0;
  transition: 0.5s;
  transition-property: opacity, transform;
  text-shadow: 0 0 5px #000;
}
.image:hover .details p {
  opacity: 1;
  transform: translateY(-20px);
}
.link-img {
  width: 100%;
}
.details {
  padding: 20px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.footer h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: "Judson", "sans-serif";
}
.footer p {
  margin: 0;
}
.footer .email-link {
  font-size: 25px;
  padding: 10px 15px;
  text-shadow: none;
  border-radius: 50%;
  color: #142751;
  background-color: #ffffffbb;
  border: solid 1px #ffffffbb;
}

.footer .email-link:hover {
  background-color: #14275100;
  color: #fff;
  transition: ease-in 250ms;
}
.footer .github-link {
  color: #fff;
}
.footer .github-link:hover {
  text-decoration: none;
}
.footer span {
  font-weight: 800;
}
.faders {
  opacity: 0;
  transition: all 1s;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}
.link:nth-child(2) {
  transition-delay: 200ms;
}
.link:nth-child(3) {
  transition-delay: 500ms;
}
.link:nth-child(4) {
  transition-delay: 700ms;
}
.container-kootenay {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#group-1 {
  z-index: -1;
}
#group-1 > .base_layer {
  background-color: #39585b;
}
#group-2 {
  z-index: auto;
}

#outro {
  z-index: auto;
}
@media (max-width: 800px) {
  .container {
    background-color: #142751ec;
    max-width: 600px;
  }
  .image {
    flex: 100%;
    max-width: 480px;
    width: 50%;
    height: 50%;
  }
  .details {
    width: 40%;
    height: 40%;
    padding: 20px;
  }
}
