nav {
  background-color: blanchedalmond;
  position: sticky;
  top: 0;
}
.nav-logo {
  width: 65%;
  padding-left: 10px;
}
.hero .about-us {
  width: 100%;
}
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: bisque;
  padding: 20px;
  margin: 20px;
  border-radius: 7px;
  position: sticky;
}
